<div class="container">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h5>Edit Employee
                    <a routerLink="/home" class="btn btn-sm btn-primary float-end">Back</a>
                </h5>
            </div>
            <div class="card-body">
                <!-- create form -->
            <form>
                <!-- Name -->
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text"  class="form-control"[(ngModel)]="empDataModel.name" name="name" placeholder="Ben Tennyson">
                    
                </div>

                  <!-- username -->
                  <div class="form-group mb-3">
                    <label>Username</label>
                    <input type="text"  class="form-control"[(ngModel)]="empDataModel.username" name="username" placeholder="ben.ten">
                   
                </div>
                <!-- Email -->
                <div class="form-group mb-3">
                    <label>Email</label>
                    <input type="email"  class="form-control"[(ngModel)]="empDataModel.email" name="email" placeholder="ben10@demo.com">
                </div>
                <!-- Address -->
                <div class="form-group mb-3">
                    <label>Address</label>
                    <input type="text"  class="form-control" [(ngModel)]="empDataModel.address" name="address" placeholder="222 Graham Glens-USA">
                </div>
                <!-- Phone -->
                <div class="form-group mb-3">
                    <label>Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="empDataModel.phone" name="phone" placeholder="9876543210">
                </div>
                 <!-- Website -->
                 <div class="form-group mb-3">
                    <label>Website</label>
                    <input type="text"  class="form-control"[(ngModel)]="empDataModel.website" name="website" placeholder="smartroncode.netlify.com"> 
                </div>
                 <!-- Company -->
                 <div class="form-group mb-3">
                    <label>Company</label>
                    <input type="text" class="form-control" [(ngModel)]="empDataModel.company" name="company" placeholder="The Ben-10" >
                </div>

                <div  class="form-group mb-3">
                    <button (click)="updateFormData()" type="submit" class="btn btn-sm btn-success float-start">Update</button>
                    <button type="reset" class="btn btn-sm btn-warning float-end">Cancel</button>
                </div>
            </form>




            </div>
        </div>
    </div>
</div>


